<h1 .title>
  Posts in category "#{category}"
<aside .menu>
  <ul .menu-list>
    $forall md <- categorisedPosts
      <li>
        <a href=@{PostsR $ mdUrl md}>
          ^{preTime $ postDate $ mdExtra md} - #{mdTitle md}
