<section .section>
  <div .container>
    <div .box>
      <h1 .title>
        Drafts
      <aside .menu>
        <ul .menu-list>
          $forall (url, md) <- drafts
            <li>
              <a href=@{DraftR url}>
                #{mdTitle md}
